.minutes-since {
  text-wrap-mode: nowrap;
}

.inv-btn {
  padding: var(--size-1) var(--size-2);
  width: min(7rem, 100%);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  @media (width < 640px) {
    padding: var(--size-1);
  }
}


.inv-btn__tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 105%;
  min-width: max-content;
  height: 2rem;
  padding: var(--size-2);
  background-color: rgba(0, 0, 0);
  color: white;
  text-align: center;
  border-radius: var(--radius-round);
  pointer-events: none;

  @media (width < 1000px) {
    left: 50%;
    translate: -50%;
    bottom: 120%;
  }
}

.inv-btn__tooltip[data-visible="true"] {
  /* subtle bounce animation; */
  animation:
    var(--animation-shake-z) 0s,
    var(--animation-fade-out) 1s forwards;
  animation-duration: 0.7s;
}

.lfg-copy {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: var(--font-size-1);
}

.lfg-copy > input {
  width: 100%;
}