._text-center {
  text-align: center;
}

._text-right {
  text-align: right;
}

._text-left {
  text-align: left;
}

._text-justify {
  text-align: justify;
}

._justify-right {
  justify-content: right !important;
}

/* Credit: https://tailwindcss.com/docs/screen-readers#screen-reader-only-elements */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
